@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@font-face {
  font-family: 'Norse';
  src: url(./fonts/Norse-Bold.otf);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.main-container,
.left-container,
.right-container,
.left-container-banner {
  display: flex;
}

.main-container {
  height: 100vh;
  background-color: hsl(0, 0%, 97%);

}

.left-container,
.right-container {
  flex-direction: column;
}

.left-container {
  flex: 1 1 40%;
  background-image: url(./images/background-athens.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right-container {
  align-self: center;
  flex-basis: 60%;
  height: fit-content;
  gap: 2rem;
  /* outline: 2px solid red; */
}

.left-container-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 10rem;
  padding: 24px 0px;
  font-family: 'Norse', 'Inter', sans-serif;
  font-size: 8rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.left-container-banner > img{
  height: 8rem;
}

.right-container-top {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
}

.right-container-paragraph {
  margin-top: 0;
  flex-wrap: wrap;
  width: 60ch;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 150%;
}

.right-container-paragraph > span {
  font-style: italic;
}

.form-cols{
  display: flex;
  gap: 48px;
}

.form-col-left,
.form-col-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

legend {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  float: left;
  font-size: 1.5rem;
  font-weight: 700;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin: 0;
  border: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

input {
  padding: 4px 8px;
  font-size: 1.25rem;
}

label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
}

.right-container-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-left: 32px;
  gap: 2rem;
}

.right-container-bottom button {
  width: fit-content;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: hsl(248, 29%, 49%);
  color: white;
  border: 0;
}
